<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    Ap4 - ng
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav"  mode="side" opened class="mat-elevation-z8">
      <button mat-button class="menu-button" routerLink="/">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-button class="menu-button" routerLink="/fixtures">
            <mat-icon>person</mat-icon>
            <span>Next Fixtures</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink="/stats/leagues">
            <mat-icon>grid_on</mat-icon>
            <span>Leagues</span>
        </button>
        <button mat-button class="menu-button" routerLink="/stats/teams">
            <mat-icon>people</mat-icon>
            <span>Teams</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>




